@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--third-util-color);
  border-radius: 5px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-util-color);
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  place-items: center;
}

.content {
  display: flex;
  place-items: start center;
  width: 100%;
  padding: 15px;
  color: var(--main-util-color);
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .content {
    display: grid;
    place-items: start center;
  }
}

.main {
  flex: 1;
  padding: 20px;
  color: var(--main-util-color);
  position: sticky;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
