.footer {
  background-color: var(--main-bg-color);
  padding: 20px 0;
  color: var(--second-util-color);
  text-align: center;
  margin-top: 70px;
}

.footer a {
  color: var(--main-util-color);
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;

}

.footer a:hover {
  color: var(--second-util-color);
}
