.piContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--second-bg-color);
  border: 1px solid var(--second-util-color);
  border-radius: 7px;
  height: calc(100vh - 40px);
  width: calc(50vw - 40px);
}

@media screen and (max-width: 767px) {
  .piContainer {
    width: calc(90vw - 40px);
  }
}

.piPersonal {
  display: flex;
  flex-direction: column;
  width: 115px;
  gap: 10px;
  margin-top: 15px;
}

.myName {
  flex: 1;
}

.piImg {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.piSocials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

